@{
  ViewData["Title"] = "首页 | Kaakira";
}
@model IEnumerable<BlogArticle>

<div>
  @foreach (var m in Model)
  {
    <article class="article-item" role="listitem">
      <header>
        <div class="title">
          <router data-href="/Article/@m.Code/@m.Id">@m.Title</router>
        </div>
        <div class="subtitle">
          <span>@m.SubTitle</span>
        </div>
        <div>
          @foreach (var tagIndex in m.Tags.Split(','))
          {
            <span class="tag"><i class="fa fa-tag"></i>@ViewBag.ArticleTag[tagIndex].Name </span>
          }
          <span class="article-date">
            <i class="fa fa-calendar"></i>
            <time>@m.CreateDate.ToString("yyyy/MM/dd") </time>
          </span>
        </div>
      </header>
      <figure class="subcontent article-content" role="contentinfo">
        @Html.Raw(m.SubContent)
      </figure>
      @*<footer>
          <router class="article-entry" data-href="/Article/@m.Code/@m.Id">阅读全文>></router>
        </footer>*@
    </article>
  }
</div>
@*<partial name="./_IndexPaging.cshtml" model="@Model" />*@
