@model ArticleViewModel
@{
    var Article = Model.Article;
}
<div class="aticle-catalog">
    <header class="title">
        <h1> @Article.Title </h1>
        <h2>@Article.SubTitle</h2>
        <div class="tags">
            @foreach (var tag in Article.Tags) {
                <span class="tag">
                    <i class="fa fa-tag"></i>
                    <span>@(tag.Value) </span>
                </span>
            }
        </div>
        <div class="time">
            <i class="fa fa-calendar"></i>
            <time>@Article.CreateDate.ToString("yyyy/MM/dd") </time>
        </div>
    </header>
    @*<ul class="aticle-catalog-ul">
        @foreach (ArticleCatalog one in Model.Catalogs)
        {
        <li>
        <a href="#@one.Anchor">@one.Index、@one.Text</a>
        @if (one.Child != null)
        {<ul>
        @foreach (ArticleCatalog second in one.Child)
        {
        <li><a href="#@second.Anchor">@second.Index、@second.Text</a></li>}
        </ul>}
        </li>}
        </ul>*@
</div>
<div class="article-container" role="article">
    <section class="article-content-wrapper" role="contentinfo">@Html.Raw(Article.Content)</section>
    <div class="minimal-comment" id="minimal-comment">
        <div id="comment-main-form" class="comment-form">
            <div class="reply-right">
                <div class="reply-top">
                    <div class="reply-info">
                        <div class="minimal-group">
                            <input name="name" id="txt-name" type="text" autocomplete="off" value="@ViewBag.name" />
                            <label class="required-text" for="txt-name">昵称</label>
                        </div>
                        <div class="minimal-group">
                            <input autocomplete="off" id="txt-email" name="email" placeholder="" type="text"
                                   value="@ViewBag.email" />
                            <label class="required-text" for="txt-email">邮箱</label>
                        </div>
                        <div class="minimal-group">
                            <input name="website" type="url" id="txt-website" autocomplete="off"
                                   value="@ViewBag.website" />
                            <label for="txt-weburl"> 你的网站 </label>
                        </div>
                    </div>
                </div>
                <div class="reply-right-b">
                    <div class="reply-content">
                        <label class="form-label"></label>
                        <textarea id="txt-content" class="form-text" style="resize:vertical;margin-top:8px;"
                                  rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div id="comment" class="comment-floor-wrapper">
            @foreach (ArticleComment root in Model.Comments) {
                <div class="comment-floor">
                    <div class="comment-post">
                        <label class="comment-avatar"><img src="@root.Avatar"></label>
                        <div class="comment-body">
                            <div class="comment-body-top">
                                <span><a href="@root.WebSite">@root.Name</a></span>
                                <time>@root.CreateDate.ToString("yyyy/MM/dd HH:mm:ss")</time>
                            </div>
                            <div class="comment-content">@root.Body</div>
                            <div class="comment-body-bottom">
                                <a role="button" class="btn-reply" data-replyid="@root.Id" data-floorid="@root.Id"
                                   data-replyname="@root.Name">回复</a>
                            </div>
                        </div>
                    </div>
                    @{
                        var chills = Model.ChildrenComments[root.Id];
                        if (chills != null) {
                            foreach (var reply in chills) {
                                <div class="comment-reply">
                                    <a name="comment-reply-@reply.Id"></a>
                                    <label class="comment-avatar"><img src="@reply.Avatar"> </label>
                                    <div class="comment-body">
                                        <div class="comment-body-top">
                                            <span><a href="@reply.WebSite">@reply.Name</a> 回复 @reply.TargetName </span>
                                            <time>@reply.CreateDate. ToString("yyyy/MM/dd HH:mm:ss")</time>
                                        </div>
                                        <div class="comment-content">@reply.Body</div>
                                        <div class="comment-body-bottom">
                                            <a role="button" class="btn-reply" data-replyid="@reply.Id" data-floorid="@root.Id"
                                               data-replyname="@reply.Name">回复</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
        </div>
    </div>
</div>
