@model Blog.Application.ArticleContext.ArticleTO

<div class="aticle-catalog">
  <header class="title">
    <h1> @Model.Title </h1>
    <h2>@Model.SubTitle</h2>
    <div class="tags">
      @foreach (string tagIndex in Model.Tags.Split(','))
      {
        <span class="tag">
          <i class="fa fa-tag"></i>
          <span>@(ViewBag.ArticleTag[tagIndex].Name) </span>
        </span>
      }
    </div>
    <div class="time">
      <i class="fa fa-calendar"></i>
      <time>@Model.CreateDate.ToString("yyyy/MM/dd") </time>
    </div>
  </header>
  <ul class="aticle-catalog-ul">
    @foreach (ArticleCatalog one in Model.Catalogs)
    {
      <li>
        <a href="#@one.Anchor">@one.Index、@one.Text</a>
        @if (one.Child != null)
        {<ul>
            @foreach (ArticleCatalog second in one.Child)
            {
              <li><a href="#@second.Anchor">@second.Index、@second.Text</a></li>}
          </ul>}
      </li>}
  </ul>
</div>
<div class="article-container" role="article">
  <section class="article-content-wrapper" role="contentinfo">@Html.Raw(Model.Content)</section>
  <div class="minimal-comment" id="minimal-comment">
    <div id='comment-main-form' class='comment-form'>
      <div class="reply-right">
        <div class="reply-top">
          <div class='reply-info'>
            <div class="minimal-group">
              <input name='name' id="txt-name" type='text' autocomplete="off" value='@ViewBag.name' />
              <label class="required-text" for="txt-name">昵称</label>
            </div>
            <div class="minimal-group">
              <input name='email' type='text' id="txt-email" autocomplete="off" value="@ViewBag.email" placeholder="" />
              <label class='required-text' for="txt-email">邮箱</label>
            </div>
            <div class="minimal-group">
              <input name='website' type='url' id="txt-website" autocomplete="off" value="@ViewBag.website" />
              <label for="txt-weburl"> 你的网站 </label>
            </div>
          </div>
        </div>
        <div class="reply-right-b">
          <div class='reply-content'>
            <label class='form-label'>  </label>
            <textarea id="txt-content" class='form-text' style='resize:vertical;margin-top:8px; font-family:"Microsoft YaHei"' rows='3' name='Content' placeholder="因为存在很多灌水内容（乱打一些字），所以评论会经过审核~sorry"></textarea>
          </div>
          <button class="btn btn-outline btn-comment" type="button" id="post-comment" data-article="@Model.Id" title="ps:留言提交后不会立即显示，需要经过审核"> 吐 槽 </button>
        </div>
      </div>
    </div>
    <div id="comment" class="comment-floor-wrapper">
      @foreach (BlogComment floor in Model.Comments)
      {
        <div class="comment-floor">
          <div class="comment-post">
            <label class='comment-avatar'><img src='@floor.Avatar'></label>
            <div class="comment-body">
              <div class="comment-body-top">
                <span><a href="@floor.WebSite">@floor.Name</a></span>
                <time>@floor.CommentDate.ToString("yyyy/MM/dd HH:mm:ss")</time>
              </div>
              <div class='comment-content'>@floor.Content</div>
              <div class='comment-body-bottom'>
                <a role='button' class='btn-reply'
                   data-replyid="@floor.Id" data-floorid="@floor.Id" data-replyname="@floor.Name">回复</a>
              </div>
            </div>
          </div>
          @if (floor.ReplyCommets != null)
          {
            foreach (BlogCommentReply reply in floor.ReplyCommets)
            {
              <div class="comment-reply">
                <a name="comment-reply-@reply.Id"></a>
                <label class='comment-avatar'><img src='@reply.Avatar'> </label>
                <div class="comment-body">
                  <div class="comment-body-top">
                    <span><a href="@reply.WebSite">@reply.Name</a> 回复 @reply.ReplyName </span>
                    <time>@reply.CommentDate.ToString("yyyy/MM/dd HH:mm:ss")</time>
                  </div>
                  <div class='comment-content'>@reply.Content</div>
                  <div class='comment-body-bottom'>
                    <a role='button' class='btn-reply' data-replyid="@reply.Id" data-floorid="@reply.FloorId" data-replyname="@reply.Name">回复</a>
                  </div>
                </div>
              </div>}
          }
        </div>}
    </div>
  </div>
</div>

